body {
    padding:0px;
    margin:0px;
    color:black;
    font:12px sans-serif;
    background:#fff;
    background-image:url('?p=16&m=s&n=sidebarBg');
    background-repeat:repeat-y;
}
img {
    color:#999;
    font-size:80%;
}
#title h1 {
    padding:0px;
    margin:0px;
    background:#aaa;
    color:#eee;
    font-style:italic;
    height:30px;
}
#toolbar ul {
    padding:2px;
    margin:0px;
    list-style:none;
    height:58px;
    border-bottom:1px solid #999;
    background:#eee;
}
#toolbar li {
    float:left;
    text-align:center;
    padding:3px;
    margin-right:1px;
    background:#eee;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    height:50px;
    border:1px solid #eee;
    min-width:50px;
}
#toolbar li:hover {
    border:1px outset #999;
    background:#aaa;
}
#toolbar li a {
    color:inherit;
    display:block;
    text-decoration:inherit
}
#toolbar li img {
    border:none;
}
#toolbar li span {
    margin:0px;
    display:block;
}
#toolbar li.separator span {
    display:none;
}
#toolbar li.separator, #toolbar li.separator:hover {
    padding:0px;
    border-left:1px solid #999;
    border-right:1px solid #ccc;
    border-top:0px;
    border-bottom:0px;
    margin:2px;
    margin-top:5px;
    min-width:0px;
}
#sidebar ul {
    list-style:none;
    padding:0px;
    margin:2px;
    margin-right:0px;
    float:left;
}
#sidebar li {
    background: #eee;
    width:170px;
    padding:3px;
    text-align:center;
    margin-bottom:2px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    -moz-border-radius-topleft:3px;
    -moz-border-radius-bottomleft:3px;
    -webkit-border-top-left-radius:3px;
    -webkit-border-bottom-left-radius:3px;
    border:1px outset #eee;
}
#sidebar li:hover {
    border-color:#aaa;
    background:#aaa;
}
#sidebar li.active {
    background-color:white;
    border-right:1px solid white;
}
#sidebar li a {
    display:block;
    color:inherit;
    text-decoration:inherit;
}
#display {
    background:#fff;
    margin-left:180px;
    min-height:500px;

}
#display h2 {
    font-size:100%;
    margin:0px;
    padding:3px;
    text-align:center;
}
#display div.hr {
    width:50%;
    height:0px;
    border:1px solid #ccc;
    border-bottom-color:#999;
    border-right-color:#999;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
    border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
}
#display div.hr hr {
    display:none;
}
#sourcecode {
    position:relative;
    left:0px;
    top:0px;
    margin-right:262px;
    min-height:inherit;
    overflow:auto;
    background:inherit;
}
#sourcecode div {
    padding:3px;
    overflow: visible;
}
#information {
    position:absolute;
    top:93px;
    right:0px;
    width:256px;
    padding-left:3px;
    padding-right:3px;
    background:inherit;
    min-height:inherit;
    clear:both;
}
#information p {
    padding:3px;
}
#about {
    text-align:center;
    width:50%;
    margin:auto;
    min-width:600px;
}
#about img {
    padding:10px;
    display:block;
    margin:auto;
}
#about h2 {
    font-size:200%;
}
#license {
    text-align:center;
    width:50%;
    margin:auto;
    min-width:600px;
}
#license pre {
    text-align:left;
}